:root{
    --color-firts: #ff0000;
    --color-second: #fff;
    --color-third: #51557E;
}

*{
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    max-width: 1200px;
    background-color: #eee;
    margin: 0 auto;
}

.img-mpps-container{
    background-color: #fff;
    padding: 0 1rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: img-mpps-container;
}

header{
    grid-area: header;
    background-color: var(--color-firts);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

header figure{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 0;
}

.geolocation{
    grid-area: geolocation;
    background-color: var(--color-second);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
}

main{
    grid-area: main;
    background-color: gold;
}

.system{
    grid-area: system;
    background-color: green;
}

.contact{
    grid-area: contact;
    background-color: chartreuse;
}

footer{
    grid-area: footer;
    background-color: grey;
}

.grid-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 70px calc(100vh - 120px) repeat(2, auto) repeat(2, 200px);
    grid-template-areas:
    "img-mpps-container"
    "header"
    "main"
    "system"
    "geolocation"
    "contact"
    "footer";
}

#mpps-icon, #lema-icon{
    display: none;
}

#menu-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: relative;
}

.menu-btn-burger{
    width: 40px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.menu-btn-burger::before{
    transform: translateY(-16px);
}

.menu-btn-burger::after{
    transform: translateY(16px);
}

.menu-btn-burger.open{
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.open.menu-btn-burger::before{
    transform: rotate(45deg) translate(35px, -35px);
}

.open.menu-btn-burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

.card{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    background-color: var(--color-third);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card h1{
    color: var(--color-second);
    text-align: center;
    margin: 0;
}

.card a{
    background-color: #EEEEEE;
    width: 90%;
    max-width: 400px;
    height: 2rem;
    border-radius: .5rem;
    text-decoration: none;
    color: var(--color-third);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.card img{
    width: 90%;
    max-width: 400px;
    border: 2px solid #fff;
}

@media screen and (min-width: 480px) and (max-width: 900px){

    .img-mpps-container{
        height: 60px;
    }

    .img-mpps-container img{
        width: 100%;
        max-width: 450px;
    }
}

@media screen and (min-width: 901px){
    .grid-container{
        grid-template-columns: 300px auto 300px;
        grid-template-rows: 70px calc(100vh - 170px) 100px 100px;
        grid-template-areas:
        "header header header"
        "geolocation main system"
        "geolocation contact system"
        "footer footer footer";
    }

    .geolocation{
        padding: .5rem;
    }

    #mpps-icon, #lema-icon{
        display: block;
    }

    #menu-btn-container,
    .img-mpps-container{
        display: none;
    }
}
